// Background Colors

$bg_primary_white: #ffffff;
$bg_off_white: #f7f7f7;
$bg_secondary_white: #f6f8fa;
$bg_primary_blue: #1074e7;
$bg_secondary_blue: #0366d6;
$bg_dark_blue: #044289;
$bg_green: #2ebc4f;
$bg_light_dark: #24292e;
$bg_deep_dark: #2b3137;
$bg_purple: #4a154b;

// Text Colors

$text_white: #ffffff;
$text_black: #000000;
$text_dark: #24292e;
$text_dark_blue: #0366d6;
$text_light_blue: #1074e7;
$text_primary_grey: #586069;
$text_secondary_grey: #6a737d;
$text_light_grey: #959da5;
$text_green: #22863a;
$text_brown: #a04100;

// Font

$html_font_size: 62.5%;
$header_1_font_family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header_3_font_family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$body_font_family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$body_font_size: 1rem;
$header_1_font_size: 4.3rem;
$header_2_font_size: 3.2rem;
$header_3_font_size: 1.17rem;
